#popup-login {
    width: 90%;
    max-width: 400px;
    height: auto;
    min-height: 300px;
    border: 4px solid #3DB07D;
    background: radial-gradient(circle, #3DB07D 0%, black 70%);
    padding: 20px;
    border-radius: 10px;
    color: white;
}

#popup-login .popup-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#popup-login form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#popup-login label {
    font-weight: bold;
}

#popup-login input {
    padding: 10px;
    border: 2px solid #3DB07D;
    border-radius: 5px;
    background-color: black;
    color: white;
}

#popup-login input:focus {
    outline: none;
    border-color: #63CEA0;
}

#popup-login .popup-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#popup-login .image-container {
    position: relative;
    max-width: 100px;
    margin: 0 auto;
}

#popup-login .background-rectangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3DB07D;
    z-index: 0;
}

#popup-login img {
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: 5px;
}
