/* ------== CSS RESETER ==------ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* ------== GERAL ==------ */

html, body {
    height: 100%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white; 
    border: 24px solid #3DB07D;
    padding: 16px;
}


/* ------== HEADER ==------ */

header {
    text-align: center;
}

#top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    position: relative;
}

#btn-info {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-decoration: none;
    background-color: black;
    border: none;
    font: inherit;
    cursor: pointer;
}

#btn-info:hover {
    color: #63CEA0;
}

#restoheader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    position: relative;
}

#textoheader {
    margin-top: 2rem;
    max-width: 50%;
    text-align: center;
    margin-right: auto; 
    margin-left: 42.5rem;
}

#titulo {
    font-size: 3.5rem;
}

#frase {
    margin-top: 3rem;
    color:darkgrey;
}


/* ------== MAIN ==------ */

main {
    height: 100%;
}

#botoes {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#botoes button {
    margin: 1.5rem 0;
}

.botao {
    display: inline-block;
    width: 507px;
    height: 84px;
    line-height: 84px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    background-color: black;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, green, yellow) 1;
    border-radius: 8px;
    transition: color 0.3s ease, border-image 0.3s ease;
    cursor: pointer;
}

.botao:hover {
    border-image: linear-gradient(to right, yellow, green) 1;
}


/* ------== FOOTER ==------ */

footer {
    text-align: end;
}

#grupo {
    margin: 0 1rem 1rem 0;
}


/* ------== POPUP ==------ */

.popup {
    display: none; /* Escondido por padrão */
    position: fixed; /* Fixa o popup em relação à tela */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta o alinhamento */
    z-index: 1000; /* Coloca o popup acima de outros elementos */
    background: radial-gradient(circle, #3DB07D 0%, black 70%); /* Gradiente radial do centro */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Sombra */
    justify-content: center; /* Alinha conteúdo interno */
    align-items: center; /* Alinha conteúdo verticalmente */
    border: 4px solid #3DB07D; /* Borda verde */
}
